@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');



* {
    box-sizing: border-box;
}

html {
    background-color: #1B1B1E;
    color: white;
}

body {
    font-family: 'Roboto Mono', monospace;
}

section {
    text-align: center;
}